{
  "extends": ["eslint-config-egg", "prettier", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 2,
    "no-console": 1,
    "object-shorthand": 0,
    "arrow-parens": 0,
    "linebreak-style": 0
  },
  "globals": {
    "window": true,
    "$": true,
    "_": true,
    "should": true,
    "__publicPath": true
  }
}
