<div class="home-page text-center" data-page="home"  id="app"></div>
<p class="copyright">Copyright <a href="https://github.com/Cherish-xzw">@travisxu</a> 2016 - <%=moment().format('YYYY')%> all rights reserved.</p>

